li:hover {
  cursor: pointer;
}
body{
  min-height: 100vh;
  font-size: 5vw;
}
main{
  margin-bottom: 30%;
}
body footer{
  margin-top: 30%px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:10%;
  background-color: white;
}
